<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="cc_setup" translate="label" sortOrder="900">
			<label>Crafty Clicks</label>
		</tab>
		<section id="cc_uk" translate="label" sortOrder="130" showInDefault="1">
			<label>UK Postcode Lookup</label>
			<tab>cc_setup</tab>
			<resource>Craftyclicks_Ukpostcodelookup::main_config</resource>
			<group id="main_options" translate="label" type="text" sortOrder="10" showInDefault="1">
				<label>Main Options</label>
				<field id="frontend_enabled" translate="label" type="select" sortOrder="1" showInDefault="1">
					<label>Enable Frontend</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="frontend_accesstoken" type="text" sortOrder="2" showInDefault="1">
					<label>FrontEnd Access Token</label>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
				</field>
				<field id="backend_enabled" translate="label" type="select" sortOrder="3" showInDefault="1">
					<label>Enable Backend</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="backend_accesstoken" type="text" sortOrder="4" showInDefault="1">
					<label>Backend Access Token</label>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
				</field>
			</group>
			<group id="gfx_options" translate="label" type="text" sortOrder="30"  showInDefault="1">
				<label>Search Options</label>
				<field id="hide_fields" translate="label" type="select" sortOrder="7" showInDefault="1">
					<label>Hide Address Fields of New Address Entry</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment>Only for the store front</comment>
				</field>
			</group>
			<group id="txt_options" translate="label" type="text" sortOrder="40"  showInDefault="1">
				<label>Message Options</label>
				<field id="search_placeholder" type="text" sortOrder="5" showInDefault="1">
					<label>Search Placeholder</label>
				</field>
				<field id="search_buttontext" type="text" sortOrder="6" showInDefault="1">
					<label>Button Text</label>
				</field>
				<field id="error_msg_1" type="text" sortOrder="10" showInDefault="1">
					<label>Error Msg #1</label>
				</field>
				<field id="error_msg_2" type="text" sortOrder="20" showInDefault="1">
					<label>Error Msg #2</label>
				</field>
				<field id="error_msg_3" type="text" sortOrder="30" showInDefault="1">
					<label>Error Msg #3</label>
				</field>
				<field id="error_msg_4" type="text" sortOrder="40" showInDefault="1">
					<label>Error Msg #4</label>
				</field>
			</group>
			<group id="advanced" translate="label" type="text" sortOrder="50"  showInDefault="1">
				<label>Advanced</label>
				<field id="county_data" type="select" sortOrder="1" showInDefault="1">
					<label>County Data</label>
					<source_model>Craftyclicks\Ukpostcodelookup\Model\Source\CountyOption</source_model>
					<comment>County data is not required for UK addressing. Select a type of county data if you need it for legacy software requirements. "Empty" will erase any data already present in the input field, but still allows the user to enter any values later.</comment>
				</field>
			</group>
		</section>
	</system>
</config>
