<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Page builder compatibility   -->
    <type name="Codazon\ProductFilter\Block\Product\ProductsList">
        <arguments>
            <argument name="productCollectionFactory" xsi:type="object">Smile\ElasticsuiteCatalog\Model\Widget\Product\CollectionFactory</argument>
            <argument name="sqlBuilder" xsi:type="object">Smile\ElasticsuiteVirtualCategory\Model\Condition\ElasticsearchBuilder</argument>
        </arguments>
    </type>
      <preference for="Magento\ConfigurableProduct\Helper\Data" type="Product\Dropdown\Helper\ProductHelper" />
</config>

