<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <magearray_news>
            <general>
                <active>1</active>
                <list_url>news</list_url>
                <url_prefix>newspost</url_prefix>
                <url_suffix>html</url_suffix>
                <cat_prefix>news_category</cat_prefix>
                <top_menu_link>1</top_menu_link>
                <footer_link>1</footer_link>
                <top_menu_title>News</top_menu_title>
                <breadcrumb>0</breadcrumb>
                <postonlist>5</postonlist>
                <post_sorting>asc</post_sorting>
                <date_format>d-m-Y</date_format>
                <post_layout>2columns-left</post_layout>
                <post_list_layout>2columns-left</post_list_layout>
                <cat_layout>2columns-right</cat_layout>
                <infinite_scroll>1</infinite_scroll>
                <show_sitemap>1</show_sitemap>
            </general>
            <comments>
                <type_of_comment>facebook</type_of_comment>
                <no_of_comments>5</no_of_comments>
                <login_require>0</login_require>
                <autoapprove>0</autoapprove>
                <loginapprove>0</loginapprove>
                <emailoncomment>0</emailoncomment>
                <use_captcha>0</use_captcha>
                <commentcount>8</commentcount>
            </comments>
            <related_setting>
                <related_posts>
                    <enabled>1</enabled>
                    <number_of_posts>5</number_of_posts>
                </related_posts>
                <related_products>
                    <enabled>1</enabled>
                    <number_of_products>5</number_of_products>
                    <show_addtocart>1</show_addtocart>
                    <show_whishlist_icon>1</show_whishlist_icon>
                    <show_compare_icon>1</show_compare_icon>
                </related_products>
            </related_setting>
            <display_settings>
                <display_views>0</display_views>
                <display_share>1</display_share>
                <share_above>0</share_above>
                <share_below>1</share_below>
                <display_tags>1</display_tags>
                <list_page>
                    <show_type>list</show_type>
                    <category_onlist_left>1</category_onlist_left>
                    <category_onlist_right>0</category_onlist_right>
                    <popular_onlist_left>1</popular_onlist_left>
                    <popular_onlist_right>0</popular_onlist_right>
                    <latest_onlist_left>0</latest_onlist_left>
                    <latest_onlist_right>0</latest_onlist_right>
                    <archive_onlist_left>1</archive_onlist_left>
                    <archive_onlist_right>0</archive_onlist_right>
                </list_page>
                <view_page>
                    <category_onpost_left>1</category_onpost_left>
                    <category_onpost_right>0</category_onpost_right>
                    <popular_onpost_left>0</popular_onpost_left>
                    <popular_onpost_right>0</popular_onpost_right>
                    <latest_onpost_left>1</latest_onpost_left>
                    <latest_onpost_right>0</latest_onpost_right>
                    <archive_onpost_left>1</archive_onpost_left>
                    <archive_onpost_right>0</archive_onpost_right>
                </view_page>
                <cat_page>
                    <show_type>grid</show_type>
                    <categorylist_oncat_left>0</categorylist_oncat_left>
                    <categorylist_oncat_right>1</categorylist_oncat_right>
                    <popular_oncat_left>0</popular_oncat_left>
                    <popular_oncat_right>0</popular_oncat_right>
                    <latest_oncat_left>0</latest_oncat_left>
                    <latest_oncat_right>0</latest_oncat_right>
                    <archive_oncat_left>0</archive_oncat_left>
                    <archive_oncat_right>1</archive_oncat_right>
                </cat_page>
            </display_settings>
        </magearray_news>
    </default>
</config>
